GitMail/Configuration/GitMailConf.csd.xsd

<?xml version="1.0"?>
<!--
<auto-generated>
    This code was generated by a tool.

     Changes to this file may cause incorrect behavior and will be lost if
    the code is regenerated.
</auto-generated>
-->
<xs:schema xmlns:tns="urn:GitMail.Configuration" elementFormDefault="qualified" targetNamespace="urn:GitMail.Configuration" xmlns:xs="http://www.w3.org/2001/XMLSchema">
	<xs:element name="gitMailConfiguration" type="tns:GitMail.Configuration.GitMailConfigurationCT" />
	<xs:complexType name="GitMail.Configuration.RepositoryCollectionCT">
		<xs:choice minOccurs="0" maxOccurs="unbounded">
			<xs:element minOccurs="0" maxOccurs="unbounded" name="configurationElement1" type="tns:GitMail.Configuration.RepositoryConfigurationCT">
				<xs:annotation>
					<xs:documentation>The RepositoryConfiguration Configuration Element.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:choice>
	</xs:complexType>
	<xs:complexType name="GitMail.Configuration.GitMailConfigurationCT">
		<xs:choice minOccurs="0" maxOccurs="unbounded">
			<xs:element minOccurs="1" name="repositories" type="tns:GitMail.Configuration.RepositoryCollectionCT">
				<xs:annotation>
					<xs:documentation>The Repositories.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:choice>
		<xs:attribute name="gitPath" use="optional" type="xs:string">
			<xs:annotation>
				<xs:documentation>The GitPath.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
	</xs:complexType>
	<xs:complexType name="GitMail.Configuration.RepositoryConfigurationCT">
		<xs:choice minOccurs="0" maxOccurs="unbounded">
			<xs:element minOccurs="0" name="merges" type="tns:GitMail.Configuration.MergeCollectionCT">
				<xs:annotation>
					<xs:documentation>The Merges.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:choice>
		<xs:attribute name="repositoryPath" use="required" type="xs:string">
			<xs:annotation>
				<xs:documentation>The RepositoryPath.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="directoryPath" use="required" type="xs:string">
			<xs:annotation>
				<xs:documentation>The DirectoryPath.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
	</xs:complexType>
	<xs:complexType name="GitMail.Configuration.MergeCollectionCT">
		<xs:choice minOccurs="0" maxOccurs="unbounded">
			<xs:element minOccurs="0" maxOccurs="unbounded" name="configurationElement2" type="tns:GitMail.Configuration.MergeConfigurationCT">
				<xs:annotation>
					<xs:documentation>The MergeConfiguration Configuration Element.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:choice>
	</xs:complexType>
	<xs:complexType name="GitMail.Configuration.MergeConfigurationCT">
		<xs:attribute name="intoBranch" use="required" type="xs:string">
			<xs:annotation>
				<xs:documentation>The IntoBranch.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="fromBranch" use="required" type="xs:string">
			<xs:annotation>
				<xs:documentation>The FromBranch.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="mailsDesReferents" use="required" type="xs:string">
			<xs:annotation>
				<xs:documentation>The MailsDesReferents.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="mailObject" use="required" type="xs:string">
			<xs:annotation>
				<xs:documentation>The MailObject.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
	</xs:complexType>
</xs:schema>
